{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
