div.asdf:nth-child()::after{
  background-color: black;
  color: green;
  content: 'asd';
  margin: 0 auto 1rem 10%;
}
:root{
  background-color: black;
  color: red;
}
.del{

}
.links{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
